h1 {
	margin-left:40px;
	color: crimson;
	font-size:35px
}
button{
  background-color:red;
}
.mainContainer{
	border-style:double;
	border-color:black;
	border-width:2px;

}
.creatures{
  width: 150px;
  height: 130px;
  margin-top: 25px;
  margin-left: 25px;
  float: left;
  border-style:solid;
  border-color:crimson;
  border-width: 3px;
}


#warrior{

}
#warriorTwo{

}
#archer{

}
#sorcerer{

}
.selectedEnemyContainer{
	margin-left: 55px;
	text-align:right;
	color:red;
	border-style:solid;
	border-width:3px;
	border-color:red;
	width: 300px;
  	height: 175px;	
}
#enemyHeath{
	text-align:center;
	color:red;
	
}
.pcContainer{
	margin-left: 70px;
	width:300px;
	height: 175px;
	border-style:solid;
	border-width:3px;
	border-color:teal;

}
.pc{
  width: 100px;
  height: 130px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 25px;
  float: left;
}
#diceRollButton {
	margin-top:25px;
	background-color: red;
	color:white;
	width:100px;
}
#rollMessage{
	color:gold;
	margin-top:20px;
	margin-right:50px;
	font-size:20px;
	text-align:center;	
}
